<!-- -----------------Without border--------------- -->
<div class="" style="width: 80%; margin: 0 auto; text-align: center">
  <swiper-container
    [slides-per-view]="1"
    [loop]="true"
    [pagination]="true"
    [navigation]="true"
    [breakpoints]="swiperBreakpoints"
    [autoplay-delay]="2500"
    [autoplay-disable-on-interaction]="false"
    style="width: 100%; padding: 20px; box-sizing: border-box"
  >
    <swiper-slide>
      <img
        src="/assets/Whykempt4.jpg"
        style="
          width: 100%;
          height: 260px;
          max-height: 300px;
          max-width: 300px;
          border: 1px solid #ccc;
          padding: 10px;
        "
      />
    </swiper-slide>
    <swiper-slide>
      <img
        src="/assets/Whykempt2.jpg"
        style="
          width: 400px;
          height: 260px;
          max-height: 300px;
          border: 1px solid #ccc;
          padding: 10px;
        "
      />
    </swiper-slide>
    <swiper-slide>
      <img
        src="/assets/Whykempt3.jpg"
        style="
          width: 400px;
          height: 260px;
          max-height: 300px;
          border: 1px solid #ccc;
          padding: 10px;
        "
      />
    </swiper-slide>
    <swiper-slide>
      <img
        src="/assets/Whykempt3.jpg"
        style="
          width: 330px;
          height: 260px;
          max-height: 300px;
          border: 1px solid #ccc;
          padding: 10px;
        "
      />
    </swiper-slide>
  </swiper-container>
</div>


<div style="width: 80%; margin: 0 auto; text-align: center">
  <swiper-container
    [slides-per-view]="1"
    [loop]="true"
    [pagination]="true"
    [navigation]="true"
    [breakpoints]="swiperBreakpoints"
    [autoplay-delay]="2500"
    [autoplay-disable-on-interaction]="false"
    style="width: 100%; padding: 20px; box-sizing: border-box"
  >
    <swiper-slide>
      <img
        src="/assets/Whykempt4.jpg"
        class="slide-img"
      />
    </swiper-slide>
    <swiper-slide>
      <img
        src="/assets/Whykempt2.jpg"
        class="slide-img"
      />
    </swiper-slide>
    <swiper-slide>
      <img
        src="/assets/Whykempt3.jpg"
        class="slide-img"
      />
    </swiper-slide>
    <swiper-slide>
      <img
        src="/assets/Whykempt3.jpg"
        class="slide-img"
      />
    </swiper-slide>
  </swiper-container>
</div>


<!-- --------------------------------------- -->

<!-- -----------------With border--------------- -->
<swiper-container
  slides-per-view="3"
  space-between="30"
  pagination="true"
  navigation="true"
  loop="true"
  style="width: 80%; padding: 1px; box-sizing: border-box"
>
  <swiper-slide>
    <div style="border: 2px solid #ccc; padding: 10px">
      <img src="/assets/Whykempt2.jpg" style="width: 260px; height: 230px" />
    </div>
  </swiper-slide>
  <swiper-slide>
    <div style="border: 2px solid #ccc; padding: 10px">
      <img src="/assets/Whykempt4.jpg" style="width: 260px; height: 230px" />
    </div>
  </swiper-slide>
  <swiper-slide>
    <div style="border: 2px solid #ccc; padding: 10px">
      <img src="/assets/Whykempt3.jpg" style="width: 260px; height: 230px" />
    </div>
  </swiper-slide>
  <swiper-slide>
    <div style="border: 2px solid #ccc; padding: 10px">
      <img src="/assets/Whykempt4.jpg" style="width: 260px; height: 230px" />
    </div>
  </swiper-slide>
</swiper-container>
<!-- --------------------------------------- -->

<!-- ---------------------two slider -->

<swiper-container
  style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
  class="mySwiper"
  thumbs-swiper=".mySwiper2"
  space-between="10"
  navigation="true"
>
  <swiper-slide>
    <img
      src="https://swiperjs.com/demos/images/nature-1.jpg"
      style="width: 100%; height: 400px"
    />
  </swiper-slide>
  <swiper-slide>
    <img
      src="https://swiperjs.com/demos/images/nature-2.jpg"
      style="width: 100%; height: 400px"
    />
  </swiper-slide>
  <swiper-slide>
    <img
      src="https://swiperjs.com/demos/images/nature-3.jpg"
      style="width: 100%; height: 400px"
    />
  </swiper-slide>
  <swiper-slide>
    <img
      src="https://swiperjs.com/demos/images/nature-4.jpg"
      style="width: 100%; height: 400px"
    />
  </swiper-slide>
  <swiper-slide>
    <img
      src="https://swiperjs.com/demos/images/nature-5.jpg"
      style="width: 100%; height: 400px"
    />
  </swiper-slide>
  <swiper-slide>
    <img
      src="https://swiperjs.com/demos/images/nature-6.jpg"
      style="width: 100%; height: 400px"
    />
  </swiper-slide>
  <swiper-slide>
    <img
      src="https://swiperjs.com/demos/images/nature-7.jpg"
      style="width: 100%; height: 400px"
    />
  </swiper-slide>
  <swiper-slide>
    <img
      src="https://swiperjs.com/demos/images/nature-8.jpg"
      style="width: 100%; height: 400px"
    />
  </swiper-slide>
  <swiper-slide>
    <img
      src="https://swiperjs.com/demos/images/nature-9.jpg"
      style="width: 100%; height: 400px"
    />
  </swiper-slide>
  <swiper-slide>
    <img
      src="https://swiperjs.com/demos/images/nature-10.jpg"
      style="width: 100%; height: 400px"
    />
  </swiper-slide>
</swiper-container>

<swiper-container
  class="mySwiper2"
  space-between="10"
  slides-per-view="4"
  free-mode="true"
  watch-slides-progress="true"
>
  <swiper-slide>
    <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
  </swiper-slide>
  <swiper-slide>
    <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
  </swiper-slide>
  <swiper-slide>
    <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
  </swiper-slide>
  <swiper-slide>
    <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
  </swiper-slide>
  <swiper-slide>
    <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
  </swiper-slide>
  <swiper-slide>
    <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
  </swiper-slide>
  <swiper-slide>
    <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
  </swiper-slide>
  <swiper-slide>
    <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
  </swiper-slide>
  <swiper-slide>
    <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
  </swiper-slide>
  <swiper-slide>
    <img src="https://swiperjs.com/demos/images/nature-10.jpg" />
  </swiper-slide>
</swiper-container>

<!-- -------------------------------------- -->

<div class="row">
  <div class="col-6">
    <div style="width: 100%; overflow: hidden">
      <swiper-container
        style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
        class="mySwiper"
        thumbs-swiper=".mySwiper2"
        space-between="10"
        navigation="true"
      >
        <swiper-slide>
          <img
            src="https://swiperjs.com/demos/images/nature-1.jpg"
            style="width: 100%; height: 400px"
          />
        </swiper-slide>
        <swiper-slide>
          <img
            src="https://swiperjs.com/demos/images/nature-2.jpg"
            style="width: 100%; height: 400px"
          />
        </swiper-slide>
        <swiper-slide>
          <img
            src="https://swiperjs.com/demos/images/nature-3.jpg"
            style="width: 100%; height: 400px"
          />
        </swiper-slide>
        <swiper-slide>
          <img
            src="https://swiperjs.com/demos/images/nature-4.jpg"
            style="width: 100%; height: 400px"
          />
        </swiper-slide>
        <swiper-slide>
          <img
            src="https://swiperjs.com/demos/images/nature-5.jpg"
            style="width: 100%; height: 400px"
          />
        </swiper-slide>
        <swiper-slide>
          <img
            src="https://swiperjs.com/demos/images/nature-6.jpg"
            style="width: 100%; height: 400px"
          />
        </swiper-slide>
        <swiper-slide>
          <img
            src="https://swiperjs.com/demos/images/nature-7.jpg"
            style="width: 100%; height: 400px"
          />
        </swiper-slide>
        <swiper-slide>
          <img
            src="https://swiperjs.com/demos/images/nature-8.jpg"
            style="width: 100%; height: 400px"
          />
        </swiper-slide>
        <swiper-slide>
          <img
            src="https://swiperjs.com/demos/images/nature-9.jpg"
            style="width: 100%; height: 400px"
          />
        </swiper-slide>
        <swiper-slide>
          <img
            src="https://swiperjs.com/demos/images/nature-10.jpg"
            style="width: 100%; height: 400px"
          />
        </swiper-slide>
      </swiper-container>

      <swiper-container
        class="mySwiper2"
        space-between="10"
        slides-per-view="4"
        free-mode="true"
        watch-slides-progress="true"
      >
        <swiper-slide>
          <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
        </swiper-slide>
        <swiper-slide>
          <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
        </swiper-slide>
        <swiper-slide>
          <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
        </swiper-slide>
        <swiper-slide>
          <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
        </swiper-slide>
        <swiper-slide>
          <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
        </swiper-slide>
        <swiper-slide>
          <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
        </swiper-slide>
        <swiper-slide>
          <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
        </swiper-slide>
        <swiper-slide>
          <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
        </swiper-slide>
        <swiper-slide>
          <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
        </swiper-slide>
        <swiper-slide>
          <img src="https://swiperjs.com/demos/images/nature-10.jpg" />
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
  <div class="col-6">
    <h2>Hello</h2>
  </div>
</div>
