<section class="info-section bg text-white pb-5">
  <div class="container">
    <div class="row align-items-center text-center text-md-start">
      <!-- Left Content -->
      <div class="ol-12 col-lg-6 mb-4 mb-md-0">
        <div
          class="d-flex align-items-center justify-content-center justify-content-md-start mb-3"
        >
          <app-heading [titleText]="'Don\'t Be Weird.'"></app-heading>
        </div>
        <h2 class="fw-bold fs-3 fs-md-2 fw-light tight-text">
          Would You Like More Information Or Do <br />
          You Have A Question?
        </h2>
      </div>

      <!-- Right Button -->
      <div
        class="col-12 col-lg-6 d-flex align-items-center tight-text"
        style="margin-top: 180px"
      >
        <div class="px-lg-5 text-white">
          <!-- Add text-white here to affect all inner elements -->
          <div class="mb-4">
            <h5 class="fw-bold fw-light">Contact</h5>
            <p class="mb-1">+91 97279 74539</p>
            <p class="mb-3">+91 99790 27910</p>

            <p class="mb-1">
              <strong>Email:</strong>
              <a class="text-white text-decoration-none"
                > shreewhitefiber@gmail.com</a
              >
            </p>
          </div>

          <div>
            <h5 class="fw-bold">Address</h5>
            <address>Gujarat, India<br /></address>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Horizontal Separator -->
<hr class="my-0 border-light" />

<!-- Footer Section -->
<footer class="bg text-white py-4">
  <div class="container">
    <div class="row align-items-center">
      <!-- Left Side: Logos -->
      <div
        class="col-12 col-md-4 d-flex justify-content-center justify-content-md-start align-items-center gap-3 mb-3 mb-md-0"
      >
        <img src="assets/fsc.jpeg" alt="FSC Logo" style="height: 80px" />
      </div>

      <!-- Right Side: Text -->
      <div class="col-12 col-md-8 text-center text-md-end">
        <small class="text-white-100 tight-text">
          2025 White Fiber Tissues | Design & Managed by : LLS-INDIA
        </small>
      </div>
    </div>
  </div>
</footer>
