<!-- ---------------------- -->
<div class="container-fluid  m-0 ">

    <div class="p-1">
        <app-heading
        [titleText]="'Products White Fiber Tissues'"
      ></app-heading>
    </div>
  
  <!-- <div class="paragraph-container mx-auto mt-3">
    <p class="text-muted mt-3 fs-6 preserve-lines">
      From our headquarters in Gujarat, we have built strong partnerships and an expansive export network that spans:
    </p>
    <p class="text-muted mt-3 fs-6 preserve-lines">
      Whether you are a distributor, importer, restaurant chain, or supermarket brand looking to transition to sustainable options, White Fiber is your reliable export partner.
    </p>
  </div> -->
  <app-mainproduct></app-mainproduct>
  
</div>
