<div class="stats-section">
  <div class="overlay">
    <div class="container">
      <div class="row text-center text-white">
        <div class="col-6 col-md-3 mb-4">
          <div class="stat">
            <div class="stat-content">
              <h1 class="number">10+</h1>
              <p class="label">Products</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
          <div class="stat">
            <div class="stat-content">
              <h1 class="number">50+</h1>
              <p class="label">Happy Clients</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
          <div class="stat">
            <div class="stat-content">
              <h1 class="number">10+</h1>
              <p class="label">Countries Export</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
          <div class="stat">
            <div class="stat-content">
              <h1 class="number">3+</h1>
              <p class="label">Certification</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
