<div class="" style="width: 80%; margin: 0 auto; text-align: center">
  <swiper-container
    [slides-per-view]="1"
    [space-between]=""
    [loop]="true"
    [pagination]="true"
    [navigation]="true"
    [breakpoints]="swiperBreakpoints"
    [autoplay-delay]="2500"
    [autoplay-disable-on-interaction]="false"
    style="width: 100%; padding: 20px; box-sizing: border-box"
  >
    <swiper-slide>
      <img
        src="/assets/Whykempt4.jpg"
        style="
          width: 100%;
          height: 260px;
          max-height: 300px;
          border: 1px solid #ccc;
          padding: 10px;
        "
      />
    </swiper-slide>
    <swiper-slide>
      <img
        src="/assets/Whykempt2.jpg"
        style="
          width: 100%;
          height: 260px;
          max-height: 300px;
          border: 1px solid #ccc;
          padding: 10px;
        "
      />
    </swiper-slide>
    <swiper-slide>
      <img
        src="/assets/Whykempt3.jpg"
        style="
          width: 100%;
          height: 260px;
          max-height: 300px;
          border: 1px solid #ccc;
          padding: 10px;
        "
      />
    </swiper-slide>
    <swiper-slide>
      <img
        src="/assets/Whykempt3.jpg"
        style="
          width: 100%;
          height: 260px;
          max-height: 300px;
          border: 1px solid #ccc;
          padding: 10px;
        "
      />
    </swiper-slide>
    <swiper-slide>
      <img
        src="/assets/Whykempt3.jpg"
        style="
          width: 100%;
          height: 260px;
          max-height: 300px;
          border: 1px solid #ccc;
          padding: 10px;
        "
      />
    </swiper-slide>
  </swiper-container>
</div>
