

  <!-- ---------------------------------- -->
  <div class="container-fluid pt-5 pb-4">
    <app-heading
      [titleText]="'White Fiber Tissues Management'"
      [textColor]="'grey'"
      [titleText2]="'Quality Of Management'"
    ></app-heading>
  
    <div class="d-flex justify-content-center">
      <div class="row g-0 align-items-center flex-column flex-md-row" style="max-width: 1140px; width: 100%;">
        <!-- Image Section -->
        <div class="col-md-6" style="height: 300px;">
          <img
            src="assets/Whykempt2.jpg"
            alt="KEMPT"
            class="img-fluid w-100 h-100 object-fit-cover"
          />
        </div>
  
        <!-- Content Section -->
        <div class="col-md-6 d-flex justify-content-center align-items-center" style="margin-top: 200px; ">
          <div class="bg-dark text-white p-4 p-md-5 w-100 h-100">
            <h5 class="text-uppercase mb-3">
              <span class="bg-secondary px-2 py-1 rounded">White Fiber</span> Management
            </h5>
            <p class="mb-2">
              At White Fiber, quality is at the forefront of our operations.
              Our management team comprises seasoned professionals with
              extensive experience in the paper industry. 
            </p>
            <p>
              Our skilled workforce,
              including engineers and technical staff, ensures that every
              product undergoes rigorous quality checks to meet and exceed industry
              standards.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  