.card-header .col {
    transition: background-color 0.3s ease;
    min-width: 120px; /* Ensures tabs don’t squish too much on mobile */
  }
/* -----------------dot-----------------   */
.dot {
  width: 10px;
  height: 10px;
  background-color: #198754; /* Bootstrap 'text-success' green */
  border-radius: 50%;
  display: inline-block;
  margin-top: 3px;
}

.custom-text {
  font-size: 1.04rem; /* Between fs-5 (1.25rem) and fs-6 (1rem) */
  font-weight: 500;   /* Optional: adjust weight as needed */
}
